<div id="customer-component">
    <div margin-top-15 padding-top-15 padding-left-15 padding-right-15 id="customer-account-title" class="d-flex">
        <!-- <div class="rounded-circle" fade-5 bg-secondary width-30px height-30px margin-right-8></div> -->
        <div>
            <div text-align-center line-height-30px heading-16 id="customer-greeting-label" text-sentence>Hello Great!</div>
        </div>
    </div>

    <div id="accounts-container" class="accounts-container" relative overflow overflow-hidden
        overflow-x-hidden overflow-y-hidden height-150px padding-left-9 padding-bottom-12 padding-right-9></div>

    <!-- <div id="merchants-services-container" class="accounts-container" bg-light relative overflow overflow-hidden
        overflow-x-hidden overflow-y-hidden height-60px padding-left-9 padding-bottom-12 padding-right-9></div>

    <div id="customer-usage-chart-container" padding-top-0 padding-left-15 padding-bottom-0 padding-right-10
        margin-top-20 margin-bottom-0 height-190px>
        <div fade-7>
            <div heading-14>DAILY SPENDING</div>
        </div>
        <canvas id="transaction-history-chart-container" style="width: auto; max-height: 300px;"></canvas>
    </div> -->
    <div padding-15 margin-top-20 margin-bottom-10>
        <div fade-7 margin-bottom-10>
            <div heading-14>TRANSACTION HISTORY</div>
        </div>
        <div>
            <div class="input-group mb-3 form-control">
                <input type="text" class="form-control border-0" line-height-24px text-size-14 height-24px margin-0
                    padding-0 placeholder="Search..." aria-describedby="basic-addon2">
                <div class="input-group-append" width-40px>
                    <div class="search-icon" margin-auto width-30px height-30px></div>
                </div>
            </div>
        </div>
        <div id="transaction-history-list-container">

        </div>
    </div>
</div>