<div id="products-component" class="product-component">
    <div padding-0 margin-top-0 margin-bottom-10 data-section="product-list" class="card-columns">
        <div data-section="product-item" data-label="cid" class="card border-0">
            <a data-label="purl">
                <img class="card-img-top" src="">
            </a>
            <div class="card-body" padding-0>
                <nav padding-left-15 padding-top-8 padding-right-15 padding-bottom-8 bg-material-accent text-white
                    overflow-hidden>
                    <div class="navbar-collapse" id="navbarText">
                        <div class="mr-auto">
                            <div class="nav-item active" cursor-pointer float-left margin-right-15 padding-top-4
                                padding-bottom-4 view-details-link>
                                <div class="info-white-icon" float-left width-30px height-30px margin-right-4></div>
                                <div float-left line-height-30px height-30px>View Details</div>
                            </div>
                            <div class="nav-item active" cursor-pointer float-left padding-top-4 padding-bottom-4
                                add-wishlist-link>
                                <div class="wishlist-white-icon" float-left width-30px height-30px margin-right-4>
                                </div>
                                <div float-left line-height-30px height-30px>Add to Wishlist</div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>