<div id="product-component" class="product-component">
    <div data-section="product-item" data-label="cid" class="card border-0">
    <div id="error-toastr" class="text-danger" text-align-center margin-top-20 margin-bottom-20></div>
        <a data-label="purl">
            <img class="card-img-top" src="">
        </a>
        <div class="card-body" padding-0>
            <h5 class="card-title" data-label="t">Card title</h5>
            <nav padding-left-15 padding-top-8 padding-right-15 padding-bottom-8 bg-material-accent text-white
                overflow-hidden>
                <div class="navbar-collapse" id="navbarText">
                    <div class="mr-auto">
                        <div class="nav-item active" cursor-pointer float-left margin-right-15 padding-top-4
                            padding-bottom-4 visit-shop-link>
                            <div class="info-white-icon" float-left width-30px height-30px margin-right-4></div>
                            <div float-left line-height-30px height-30px>Visit Shop</div>
                        </div>
                        <div class="nav-item active" cursor-pointer float-left padding-top-4 padding-bottom-4
                            add-wishlist-link>
                            <div class="wishlist-white-icon" float-left width-30px height-30px margin-right-4>
                            </div>
                            <div float-left line-height-30px height-30px>Add to Wishlist</div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>