<div class="wishlist-component">
    <div class="details-header" bg-material-accent text-white fixed fixed-top-0 fixed-left-0 fixed-right-0 z-index-100>
        <div class="fluid-container" height-60px margin-left-10 margin-top-10 margin-right-10>
            <div class="column" width-40px>
                <div class="logo" width-40px height-40px margin-auto margin-top-2></div>
            </div>
            <div class="column">
                <div class="fluid-container mb-1 border-dark border-bottom-1">
                    <div class="column" padding-top-2 padding-bottom-2 margin-left-15 margin-right-8>
                        <div text-align-center heading-18 id="master-header-account-name-label">Deal Finder 1.0</div>
                    </div>
                </div>            
            </div>
            <div class="column" width-40px>
                <div class="fluid-container mb-4 border-dark border-bottom-1" absolute absolute-top-0
                    absolute-right-0 height-55px></div>

                <span class="glyphicon glyphicon-menu-hamburger hamburger-Button-Style" id="hamburger-button">&#9776;</span>                    
                    
                <div id="slidable-menu-panel" class="slidable-panel">
                    <a id="name-btn"><h4 id="getUser" class="slideMessage"></h4></a> 
                    <a href="#" id="wishlist-btn" class="btn">
                        <div class="d-flex text-white">
                            <div class="wishlist-icon width-35px"></div>
                            <div class="marginLeft-10px">My WishList</div>
                        </div>
                    </a>
                    <a href="#" id="logout-btn">
                        <div class="d-flex text-white">
                        <div class="wishlist-icon width-35px"></div>
                        <div class="marginLeft-10px">Log Out</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div></div>
    </div>
            
    <div class="list-group" margin-top-70 id="wish-list-page">
    </div>
</div>