.list-component {
    /* position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: none;

    visibility: hidden;
    opacity: 0;
    z-index: 0;

    -webkit-transition: background-color .2s ease-in, visibility .2s ease-in, opacity .2s ease-in, z-index .2s ease-in;
    -moz-transition: background-color .2s ease-in, visibility .2s ease-in, opacity .2s ease-in, z-index .2s ease-in;
    -ms-transition: background-color .2s ease-in, visibility .2s ease-in, opacity .2s ease-in, z-index .2s ease-in;
    -o-transition: background-color .2s ease-in, visibility .2s ease-in, opacity .2s ease-in, z-index .2s ease-in;
    transition: background-color .2s ease-in, visibility .2s ease-in, opacity .2s ease-in, z-index .2s ease-in; */
}

.list-component[aria-busy=true] {
    visibility: visible;
    opacity: 1;
    z-index: 2000;

    background-color: rgba(255, 255, 255, .999);

    -webkit-transition: background-color .2s ease-out, visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out;
    -moz-transition: background-color .2s ease-out, visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out;
    -ms-transition: background-color .2s ease-out, visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out;
    -o-transition: background-color .2s ease-out, visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out;
    transition: background-color .2s ease-out, visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out;
}

.list-component .loader-wrappr {
    /* position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10; */

    overflow: hidden;

    /* visibility: hidden;
    opacity: 0; */

    margin: auto;
    padding: 0px 10px;
    max-width: 200px;
    height: 200px;

    text-align: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
}

.list-component[aria-busy=true] .loader-wrappr {
    visibility: visible;
    opacity: 1;

    -webkit-transition: visibility .6s ease-in, opacity .5s ease-in;
    -moz-transition: visibility .6s ease-in, opacity .5s ease-in;
    -ms-transition: visibility .6s ease-in, opacity .5s ease-in;
    -o-transition: visibility .6s ease-in, opacity .5s ease-in;
    transition: visibility .6s ease-in, opacity .5s ease-in;
}

.list-component .loader-wrappr .loader-item {
    position: relative;
    display: block;
}

.list-component .loader-wrappr .loader {
    max-width: 60px;
    height: 60px;
    margin: 8px auto;
    position: relative;
}

.list-component .loader-wrappr .loader::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
}

.list-component .loader-wrappr .loader .loader-circle {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px rgba(205, 205, 205, .4);
    margin-left: 0px;
    margin-top: 0px;
}

.list-component .loader-wrappr .loader .loader-line-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
    transform-origin: 30px 30px;
    animation: rotate 1.2s infinite linear;
    -webkit-animation: rotate 1.2s infinite linear;
}

.list-component .loader-wrappr .loader .loader-line-mask .loader-line {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid rgb(220, 53, 69);
    border-left: none;
    border-top: none;
}

.list-component .loader-wrappr .hint {
    margin: 0px 0px 0px 19px;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 47px;
    text-align: left;
    text-shadow: #FFF 0px 1px;
    white-space: nowrap;
}

.list-component .loader-wrappr .hint a {
    color: #FFF;
    color: rgb(220, 53, 69);
    text-decoration: none;
    cursor: pointer;
}



@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}