
<div class="register-component">
    <div margin-top-20 margin-left-20 margin-right-20>
        <h1 margin-bottom-20>Register</h1>
        <div id="error-toastr" class="text-danger" text-align-center margin-top-20 margin-bottom-20></div>
        <div margin-bottom-15>
            <div>First Name:</div>
            <div>
                <input class="form-control" width-100 type="text" id="firstName-txt" required />
            </div>
        </div>
        <div margin-bottom-15>
            <div>Last Name:</div>
            <div>
                <input class="form-control" width-100 type="text" id="lastName-txt" required />
            </div>
        </div>
        <div margin-bottom-15>
            <div>Email:</div>
            <div>
                <input class="form-control" width-100 type="email" id="email-txt" required />
            </div>
        </div>
        <div margin-bottom-15>
            <div>Password:</div>
            <div>
                <input class="form-control" width-100 type="password" id="password-txt" required/>
            </div>
        </div>

        <div margin-bottom-15>
            <div>Confirm Password:</div>
            <div>
                <input class="form-control" width-100 type="password" id="cPassword-txt" required/>
            </div>
        </div>

        <div>
            <div width-100 margin-bottom-10><button class="btn btn-success" width-100 id="register-btn">Register</button></div>
            <div width-100><button class="btn btn-default" width-100 id="signin-btn">Sign In</button></div>
        </div>
    </div>
</div>