<div class="master-component">
    <div class="details" id="app-details">

        <div class="details-header" bg-material-accent text-white fixed fixed-top-0 fixed-left-0 fixed-right-0 z-index-100>
            <div class="fluid-container" height-60px margin-left-10 margin-top-10 margin-right-10>
                <div class="column" width-40px>
                    <div class="logo" width-40px height-40px margin-auto margin-top-2></div>
                </div>
                <div class="column">
                    <div class="fluid-container mb-1 border-dark border-bottom-1">
                        <div class="column" padding-top-2 padding-bottom-2 margin-left-15 margin-right-8>
                            <div text-align-center heading-18 id="master-header-account-name-label">Deal Finder 1.0</div>
                        </div>
                    </div>            
                </div>

                 <!--hamburger-->
                    
                <div class="column" width-40px>
                    <div class="fluid-container mb-4 border-dark border-bottom-1" absolute absolute-top-0
                        absolute-right-0 height-55px></div>

                                <span class="glyphicon glyphicon-menu-hamburger hamburger-Button-Style" id="hamburger-button">&#9776;</span>                    
                                 
                                  <div id="slidable-menu-panel" class="slidable-panel">
                                        <h4 id="getUser" class="slideMessage"></h4>
                                        <a href="#" id="wishlist-btn">
                                            <div class="d-flex text-white">
                                            <div class="wishlist-icon width-35px"></div>
                                            <div class="marginLeft-10px">My WishList</div>
                                            </div>
                                        </a>
                                        <a href="#" id="logout-btn">
                                            <div class="d-flex text-white">
                                            <div class="wishlist-icon width-35px"></div>
                                            <div class="marginLeft-10px">Log Out</div>
                                            </div>
                                        </a>
                                  
                                </div>
                </div>
            </div>
            <div>
                <div class="input-group mb-0 rounded-0 border-bottom bg-white" padding-6>
                    <input id="search-field" type="text" class="border-0 form-control rounded-0" placeholder="Search..." value="ladies bags" />
                    <div id="search-button" class="bg-white input-group-append rounded-0" cursor-pointer width-40px>
                        <i class="search-icon" width-30px height-30px margin-top-4></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="details-body" class="details-body" margin-top-130 margin-bottom-0 padding-top-20 padding-bottom-20 height-300px relative>

        </div>

        <div hide id="details-callout-view" class="details-callout-view" mask-shadow
            fixed fixed-left
            fixed-bottom fixed-right z-index-100>
            <div data-section="details-callout-view-panel" bg-white padding-20 absolute absolute-top absolute-left
                absolute-bottom absolute-right id="details-callout-view-panel"></div>
        </div>
    </div>
</div>